.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper .box {
  border: 2px solid black;
  margin: 50px;
  cursor: pointer;
}
.green {
  width: 300px;
  height: 500px;
  background: green;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.orange {
  width: 250px;
  height: 200px;
  background: orange;
  margin-bottom: 25px;
}
.red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: red;
}
.gray {
  width: 150px;
  height: 150px;
  background: gray;
}
.blue {
  display: flex;
  width: 400px;
  height: 250px;
  background: blue;
  position: relative;
}
.pink {
  width: 150px;
  height: 150px;
  background: pink;
  position: absolute;
  left: -100px;
}